**{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root{
  text-align: center;
  background: #232323;
}
.search{
  width: 1200px;  
  padding: 10px;
  background: #424242;
  border: 0;
}

.search-button{
  margin: 16px;
  padding: 8px;
}

.movie-collection{
  display: flex;
  flex-wrap: wrap;
}

.movie-collection > div{  
  width: 350px;
  justify-content: space-around;
}

.movie-logo{
  width: 250px;
    height: 350px;
}
.text-color{
  color: #555555;
}
.text-color-white{
  color: #ffffff;
}
.button-color-red{
  background: #F65261;
    color: white;
    border: none;
}
.button-color-hash {
  background: #424242;
  color: white;
  border: none;
}